body{
  margin:0;
  background-color: e6e6e6;
  font-family: 'Poppins', sans-serif;
}

#header {
  width:100%;
  height:50%;
  background-image: url("../assets/titlebanner.jpg");
  background-position: center;
  background-size: cover;

  color:white;
  min-height:350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
}

#navigation-button{
  z-index:2;
  font-size: 1.5em;
  padding:5px;
}

.navigation{
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: rgba(142,166,196,0.6);
  border-radius: 5px;
}

.blank-list{
    list-style: none;
    padding: 0;
    margin:0;
}

#navigation-menu{
  padding:5px;
  margin: 0;
}


@media screen and (min-width:550px){
  .navigation-item{
    display:inline;
  }

  #navigation-button{
    display: none;
  }
}

@media screen and (max-width:549px){
  .navigation-item{
    display:block;
  }

  #navigation-menu{
    display:none;
  }

  .bar{
    display:none;
  }
}

.navigation-item{
  font-size: 1.5em;
  margin-left:5px;
  margin-right: 5px;
}

a, a:visited{
  color:blue;
}

.navigation a, .navigation a:visited{
  color:white;
}


#title{
  font-size: 5em;
      text-align: center;
}

#tagline{
  font-size:3em;
      text-align: center;
}


@media screen and (max-width:599px){
  #title{
    font-size: 3.5em;

  }

  #tagline{
    font-size: 1.5em;

  }
}

.section{
  text-align: center;
}

.section-subheader{
    font-size: 1.6em;
    text-decoration: underline;
}

.section-header{
  background-color: BDBDBD;
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom:20px;
}

.section-body{
  width:50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 1.3em;
  min-width:400px;
}

#footer{
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 10px;
}
