body{
  margin:0px;
  font-family:'Source sans Pro',sans-serif;
}

p{
  margin:0;
  padding:1% 2%;
  text-align: justify;
}

.nav{
  height:40px;
  background-color:#006cff;
  width:100%;
  color:white;
}

.nav-social{
  width:50%;
  height:100%;
  float:left;
}

.nav-pages{
  width:50%;
  height:100%;
  float:right;
  font-size:18pt;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-pages-bar{
  list-style:none;
  margin:0 1%;
}

.nav-pages-bar li{
    display:inline;
}

.banner{
  clear:both;
  height:150px;
  width:100%;
  background-color:#006cff;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/banner.jpg");
  background-position: center;
}

.banner-title{
  color:white;
  font-size:72pt;
}

.content{
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.content-title{
  height:45px;
  width:100%;
  background-color:#84b8ff;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:24pt;
}

.content-body{
  width:100%;
  background-color:#eaeaea;
  font-size:18pt;
}

.footer{
  width:100%;
  text-align:center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav{
    list-style:none;
    width:100%;
    padding:0;
}

.footer-nav li{
  display: inline;
}
