body{
  margin:0;
  background-color: e6e6e6;
  font-family: 'Poppins', sans-serif;
}

#header {
  width:100%;
  height:50%;
  background-image: url("../assets/titlebanner.jpg");
  background-position: center;
  background-size: cover;
  color:white;
  min-height:350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
}

#navigation-button{
  z-index:2;
  font-size: 1.5em;
  padding:5px;
}

.navigation{
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: rgba(142,166,196,0.6);
  border-radius: 5px;
}

.blank-list{
  list-style: none;
  padding: 0;
  margin:0;
}

#navigation-menu{
  padding:5px;
  margin: 0;
}


@media screen and (min-width:550px){
  .navigation-item{
    display:inline;
  }

  #navigation-button{
    display: none;
  }

  .section-body{
    width:50%;
  }
}

@media screen and (max-width:549px){
  .navigation-item{
    display:block;
  }

  #navigation-menu{
    display:none;
  }

  .bar{
    display:none;
  }

  .section-body{
    width:80%;
  }
}

.navigation-item{
  font-size: 1.5em;
  margin-left:5px;
  margin-right: 5px;
}

a, a:visited{
  color:blue;
}

.navigation a, .navigation a:visited{
  color:white;
}

#title{
  font-size: 5em;
  text-align: center;
}

#tagline{
  font-size:3em;
  text-align: center;
}

@media screen and (max-width:599px){
  #title{
    font-size: 3.5em;

  }

  #tagline{
    font-size: 1.5em;

  }
}

.section{
  text-align: center;
}

.section-subheader{
  font-size: 2em;
  text-decoration: underline;
}

.section-header{
  background-color: BDBDBD;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom:20px;
}

.section-body{
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 1.3em;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  width:100%;
  height:100%;
   background-color: rgba(0,0,0,0.4);
}

.modal-content{
  min-width:400px;
  width:60%;
  background-color:white;
  margin:10% auto;
  box-shadow: 10px 10px 5px grey;
}

.modal-body{
  background-color: e6e6e6;
  padding: 3%;
  max-height: 75%;
  overflow: auto;
}

.modal-header{
  background-color: BDBDBD;
  text-align: left;
  padding:10px;
  font-size: 1.6em;
}

.modal-close{
  float:right;
  margin-right:10px;
  font-size: 2em;
}

.modal-close:hover{
  cursor:pointer;
}

.project-image{
  margin:0 auto;
  width: 45%;
  min-width:300px;
  margin:5px;
}

.project-image:hover{
  cursor: pointer;
}

#footer{
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 10px;
}
