{{ define "content" -}}
  <div class="content">
    <div class="content__content">{{ .Content }}</div>
    {{ range (where .Pages "Params.active" true) }}
      <div class="content__header">
        <h2 class="content__title">
          <a class="content__permalink" href="{{ .Permalink | relURL }}"
            >{{ .Title }}</a
          >
        </h2>
        {{ if isset .Params "source_code" }}
          <div class="content__subtitle">
            <i class="fas fa-code"></i>
            <a
              class="content__permalink"
              target="_blank"
              href="{{ .Params.source_code }}"
              >Source Code</a
            >
          </div>
        {{ end }}
      </div>
      <div class="content__content">
        <p>
          {{ .Summary }}
          {{ if .Truncated }}
            <a href="{{ .Permalink | relURL }}">Read More</a>
          {{ end }}
        </p>
        {{ with .Resources.GetMatch "preview.jpg" }}
          <figure style="max-width: 60%">
            <img src="{{ .Permalink | relURL }}" />
          </figure>
        {{ end }}
      </div>
    {{ end -}}
    <div class="content__header">
      <h2 class="content__title">Past Projects</h2>
    </div>
    <div class="content__content">
      <ul>
        {{ range (where .Pages "Params.active" "ne" true) }}
          <li><a href="{{ .Permalink | relURL }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end -}}
