<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Dan Harris's personal website, introducing themself and the work that they do.">
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {{ block "css" . }}

    {{ end }}
</head>
<body>
    {{ partial "header.html" . }}
    <div id="content">
        {{ block "content" . }}

        {{ end }}
    </div>
    <div id="footer">
        &copy; Dan Harris {{ now.Format "2006" }}
    </div>
</body>
</html>
