<div id="header">
    <div id="banner">
        <div id="title">
            <h1><a href="{{ .Site.BaseURL | relURL }}">DAN HARRIS</a></h1>
            <h2>Graduate. Developer. Technology Enthusiast.</h2>
        </div>
        <div id="social-media">
            <ul>
                {{ range .Site.Menus.social }}
                    <li><a target="_blank" href="{{ .URL }}" rel="noopener" aria-label="Link to {{ .Identifier }} social media">{{ .Pre }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
    <div id="navigation">
        <label for="menu-icon" id="menu-icon-label">&#9776;</label>
        <input type="checkbox" id="menu-icon" hidden>
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <li class="menu-item"><a class='{{ if $currentPage.IsMenuCurrent "main" . }}menu-item-active{{ end }}' href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</div>
