body {
    margin: 0;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    background-color: #fffaff;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
}

.page-header {
    display: flex;
    border-bottom: 1px solid #888;
    padding: 0.5em 0;
    justify-content: space-between;
}

.page-header__title {
    margin: 0;
}

.page-header__subtitle {
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 1.25em;
}

.menu__list {
    list-style: none;
}

.menu__item {
    display: inline-block;
    padding: 0 1em;
    font-size: 1.05em;
}

.menu__link, .menu__link:visited, .menu__link:active {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__separator {
    color: #888;
}

.content {
    margin: 2em 1em;
}

.footer {
    margin: 1em 0;
    text-align: center;
}
