<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Dan Harris's personal website, introducing themself and the work that they do.">
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" />
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="branding">
                <div class="branding__title"><a class="menu__link" href="{{ site.BaseURL | relURL }}">{{ site.Title }}</a></div>
                <div class="branding__subtitle">{{ site.Params.subtitle }}</div>
            </div>
            <nav>
                <ul class="menu">
                    {{ $currentPage := . -}}
                    <span class="menu__separator">/</span>
                    {{ range site.Menus.main -}}
                    <li class="menu__item">
                        <a class='menu__link {{ if $currentPage.IsMenuCurrent "main" . }}menu__link--active{{ end }}' href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    <span class="menu__separator">/</span>
                    {{ end -}}
                </ul>
            </nav>
        </header>
        <main>
            {{ block "content" . }}

            {{ end }}
        </main>
        <footer class="footer">
            <nav>
                <ul class="menu menu--center">
                {{ range site.Menus.social -}}
                <li class="menu__item">
                    <a class="menu__link" href="{{ .URL }}">{{ .Pre }}</a>
                </li>
                {{ end -}}
                </ul>
            </nav>
            <span>&copy; Dan Harris {{ now.Format "2006" }}</span>
        </footer>
    </div>
</body>
</html>
