body {
    --bg-color: #fffaff;
    --text-primary: #000;
    --text-secondary: #555;
    --text-link: #0000ff;
    --separator: #888;
    --separator-light: #bbb;
}

body.dark {
    --bg-color: #1b1e1b;
    --text-primary: #fff;
    --text-secondary: #aaa;
    --text-link: #0099ff;
    --separator: #bbb;
    --separator-light: #888;
}

body {
    margin: 0;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    background-color: var(--bg-color);
    color: var(--text-primary);
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
}

.header {
    display: flex;
    border-bottom: 1px solid var(--separator);
    padding: 0.5em 0;
    justify-content: space-between;
}

.branding__title {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
}

.branding__subtitle {
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 1.25em;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu__item {
    display: inline-block;
    padding: 0 1em;
    font-size: 1.05em;
}

.menu__link, .menu__link:visited, .menu__link:active {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__separator {
    color: var(--separator);
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 501px) {
    .menu:not(.menu--center) {
        text-align: right;
    }
}

.content {
    margin: 2em 1em;
}

.content__header {
    border-bottom: 1px solid var(--separator-light);
    padding: 0.5em 0;
}

.content__title {
    margin: 0;
    font-size: 1.5em;
}

.content__permalink, .content__permalink:visited, .content__permalink:active {
    color: inherit;
    text-decoration: none;
}

.content__permalink:hover {
    text-decoration: underline;
}

.content__subtitle {
    font-size: 1em;
    margin: 0;
    margin-left: 0.5em;
    color: var(--text-secondary);
    font-weight: 500;
}

.content__content {
    margin: 0.75em;
}

.content__content a,
.content__content a:visited,
.content__content a:active {
    color: var(--text-link);
}

.content__content figure {
    max-width: 90%;
    margin: 0.5em auto;
    position: relative;
    cursor: pointer;
}

.content__content figure::after {
    position: absolute;
    content: '\f31e';
    top: 0;
    right: 0;
    margin: 0.5em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.25em;
    color: #ccc;
}

.content__content img {
    max-width: 100%;
}

.content__content figure > figcaption > p {
    margin-top: 0;
    font-style: italic;
    text-align: center;
    color: var(--text-secondary);
}

.archive__list {
    list-style: none;
    padding: 0;
    margin-left: 0.5em;
}

.archive__item {
    font-size: 1.25em;
}

.footer {
    margin: 1em 0;
    text-align: center;
}
