#project-grid {
    margin: 1em auto;
    padding: 0;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, auto));
    grid-column-gap: 0.5em;
    max-width: 1000px;
    list-style: none;
}

.project-grid-item a {
    position: relative;
    display: block;
}

.project-grid-item img {
    width: 100%;
}

.project-grid-item h2 {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
    background-color: #c2d9f3;
}

.project-grid-item i {
    position: absolute;
    top: 5%;
    right: 2%;
    color: white;
    font-size: 1.1em;
}
