<HTML>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>danmharris.com</title>
  </head>

  <body>
    <div class="header">
      <div class="nav">
        <div class="nav-social">
        </div>
        <div class="nav-pages">
        </div>
      </div>
      <div class="banner">
      </div>
    </div>
    <div class="content">
      <div class="content-title">
      </div>
      <div class="content-body">
      </div>
    </div>
    <div class="footer">

    </div>
  </body>
</HTML>
