<HTML>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>danmharris.com</title>

    <script>
    window.onload = function(){
      var menuBtn = document.getElementsByClassName('nav-menu-btn')[0];
      menuBtn.onclick = function(){
        var menu = document.getElementsByClassName('nav-pages')[0];
        if (menu.style.display == ""){
          menu.style.display = "block";
        } else {
          menu.style.display = "";
        }
      };
    };
    </script>
  </head>

  <body>
    <div class="header">
      <div class="nav">
        <div class="nav-social">
          <svg height="40" width="40">
            <circle cx="20" cy="20" r="15" stroke="white" stroke-width="2" fill="none"/>
            <image width="24px" height="24px" x="8" y="8" xlink:href="../assets/twitter.png">
          </svg>
          <svg height="40" width="40">
            <circle cx="20" cy="20" r="15" stroke="white" stroke-width="2" fill="none"/>
            <image width="24px" height="24px" x="8" y="8" xlink:href="../assets/github.png">
          </svg>
        </div>
        <div class="nav-menu-btn">&#9776</div>
          <ul class="nav-pages">
            <li>Home</li>
            <li>Projects</li>
          </ul>
      </div>
      <div class="banner">
          <div class="banner-title">DAN HARRIS</div>

      </div>
    </div>
    <div class="content">
      <br>
      <div class="content-title">
        Section Title
      </div>
      <div class="content-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum sollicitudin mi vel efficitur. Praesent pulvinar aliquam neque, in tempor nunc fermentum id. Maecenas condimentum egestas dui, ut auctor nunc convallis et. Quisque vitae laoreet sapien, eu interdum ex. Etiam posuere lorem nunc, eu ultricies justo fermentum nec. Donec eu lobortis urna. Donec est purus, viverra et ex viverra, mattis convallis neque. Aenean aliquet varius mi vehicula mattis. Morbi aliquam est eget ligula facilisis, a cursus nulla venenatis. Aliquam lacinia nibh nec mattis imperdiet. Aenean maximus semper arcu, a tristique lectus auctor eu. Nunc dignissim mauris sit amet velit auctor, et consectetur elit tincidunt. Mauris ligula justo, faucibus vel nunc eu, aliquam commodo velit.</p>
      </div>
      <br>
      <div class="content-title">
        Section Title
      </div>
      <div class="content-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum sollicitudin mi vel efficitur. Praesent pulvinar aliquam neque, in tempor nunc fermentum id. Maecenas condimentum egestas dui, ut auctor nunc convallis et. Quisque vitae laoreet sapien, eu interdum ex. Etiam posuere lorem nunc, eu ultricies justo fermentum nec. Donec eu lobortis urna. Donec est purus, viverra et ex viverra, mattis convallis neque. Aenean aliquet varius mi vehicula mattis. Morbi aliquam est eget ligula facilisis, a cursus nulla venenatis. Aliquam lacinia nibh nec mattis imperdiet. Aenean maximus semper arcu, a tristique lectus auctor eu. Nunc dignissim mauris sit amet velit auctor, et consectetur elit tincidunt. Mauris ligula justo, faucibus vel nunc eu, aliquam commodo velit.</p>
      </div>
    </div>
    <div class="footer">
      <ul class="footer-nav">
        <li>Downloads</li> |
        <li>Sitemap</li> |
        <li>Contact</li>
      </ul>
      <div class="copyright">&copy Dan Harris 2016</div>

    </div>
  </body>
</HTML>
