<HTML>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>danmharris.com</title>
  </head>

  <body>
    <div class="header">
      <div class="nav">
        <div class="nav-social">
          <svg height="50" width="50">
            <circle cx="25" cy="25" r="20" stroke="black" stroke-width="2" fill="none"/>
          </svg>
          <svg height="50" width="50">
            <circle cx="25" cy="25" r="20" stroke="black" stroke-width="2" fill="none"/>
          </svg>
          <svg height="50" width="50">
            <circle cx="25" cy="25" r="20" stroke="black" stroke-width="2" fill="none"/>
          </svg>
        </div>
        <div class="nav-pages">
          <ul class="nav-pages-bar">
            <li>Home</li>
            |
            <li>Projects</li>
          </ul>
        </div>
      </div>
      <div class="banner">
          <div class="banner-title">DAN HARRIS</div>

      </div>
    </div>
    <div class="content">
      <div class="content-title">
      </div>
      <div class="content-body">
      </div>
    </div>
    <div class="footer">
      &copy Dan Harris 2016
    </div>
  </body>
</HTML>
