{{ define "css" }}
    <link rel="stylesheet" type="text/css" href="/css/home.css">
{{ end }}
{{ define "content" }}
    {{ .Content }}

    {{ $project := index (where (where .Pages "Section" "projects") ".Params.featured" true) 0}}
    {{ if $project }}
        <h1>Featured Project</h1>
        <div id="featured-project">
            <div class="featured-project-image"><img src='{{ ($project.Resources.GetMatch "preview.jpg").Permalink | relURL }}' alt="Preview for featured project ({{ $project.Name }})"></div>
            <div class="featured-project-overview">
                {{ $project.Summary }}
                <h3 class="featured-project-link"><a href="{{ $project.Permalink | relURL }}">Find out more</a></h3>
            </div>
        </div>
    {{ end }}

    {{ $posts := first 5 (where .Pages "Section" "posts")}}
    {{ if $posts }}
        <h1>Recent Posts</h1>
        {{ range $posts }}
            {{ .Render "summary" }}
        {{ end }}
    {{ end }}
{{ end }}
